.transaction-card {
  background-color: #f8f9fa; /* Light gray background */
  border: 1px solid #dee2e6; /* Border color */
  border-radius: 10px;
}

.transaction-header {
  font-size: 1.5rem;
  font-weight: bold;
}

.transaction-accordion-item {
  border-top: 1px solid #dee2e6;
}

.transaction-accordion-header {
  font-size: 1.2rem;
}

.transaction-accordion-body {
  padding: 10px;
  font-size: 1rem;
}

.transaction-detail {
  margin-bottom: 8px;
}
