@media screen and (max-width: 480px){

.transaction-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    margin: auto;
  }
  
  .account-holder {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .account-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 3rem;
  }
  
  form {
    width: 100%;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .send-button {
    width: 100%;
    padding: 10px;
    background-color: lightcoral;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: var(--fs);
    color: black;
  }
  
  .send-button:hover {
    background-color: #45a049;
    font-weight: var(--fwThin);
    color: wheat;
  }
}
